$box-bg            : rgba($light, .25) !default;
$box-bg-main       : $box-bg !default;
$box-bg-resources  : rgba($dark, .1) !default;
$shadow-color      : $dark !default;
$shadow-owned-alpha: .25 !default;
$shadow-owned-pos  : 0px 0px 0px 2px !default;
$shadow-costs-alpha: .5 !default;
$shadow-costs-pos  : 1px 1px 0px !default;
$shadow-owned      : $shadow-owned-pos rgba($shadow-color, $shadow-owned-alpha) inset !default;
$shadow-costs      : $shadow-costs-pos rgba($shadow-color, $shadow-costs-alpha) !default;
$white-col         : $light !default;
$black-col         : $dark !default;

:root {
  @include font-size(12px);
}

#game {
  background : $body-bg;
  color      : $body-color;
  text-shadow: none;
  font-family: $font-family-base;
}

.box {
  text-align      : center;
  padding         : 0px;
  box-shadow      : none;
  background-color: $box-bg;

  &#box-main {
    background-color: $box-bg-main;

    .box-things {
      background-color: $box-bg-resources;
    }
  }
}

.thing,
.box-header,
.box-footer,
.box-bit {
  background: $card-cap-bg;
  border    : $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  margin: 1px;
}

.thing:hover {
  background: rgba($black-col, 0.5)
}

.box-header {
  margin-bottom: 4px;
}

.box-footer {
  margin-top: 4px;
}

.title {
  @include font-size($h5-font-size);
}

#box-main {
  left    : 0px;
  top     : 0px;
  bottom  : 0px;
  overflow: hidden;
  width   : 60%;
  position: absolute;
}

#box-res.fullWidth {
  width     : 100%;
  top       : 5%;
  height    : 5%;
  min-height: 32px;
  z-index   : 100;
  position  : absolute;
}

#box-buttons {
  top     : 0px;
  right   : 0px;
  bottom  : 0px;
  left    : 0px;
  position: absolute;
}

#box-store {
  right   : 0px;
  top     : 0px;
  bottom  : 0px;
  width   : 40%;
  position: absolute;
}

#box-buildings,
#box-upgrades {
  top           : 0px;
  bottom        : 0px;
  width         : 50%;
  right         : 0%;
  overflow-x    : hidden;
  overflow-y    : scroll;
  padding-bottom: 48px;
  /* this is to accommodate the info and settings buttons */
  position      : absolute;
}

#box-buildings {
  right: 50%;
}

#box-buildings>.box-header {
  padding-bottom: 16px;
}

#bulkDisplay {
  margin    : -20px 24px 6px 24px;
  border    : none;
  background: transparent;
}

.thing {
  display: inline-block;
  padding: 0px;
  cursor : pointer;
}

.thing:active {
  opacity: 0.5;
}

.upgrade.owned,
.achiev.owned {
  box-shadow: $shadow-owned
}

.thing.cantAfford {
  opacity: 0.65;
}

.upgrade.cantAfford {
  border: none;
}

.thing-costs {
  font-weight: bold;
  text-shadow: $shadow-costs;
}

.cost.hasEnough {
  color: $success;
}

.cost.notEnough {
  color: $danger;
}


.button>.thing-text {
  text-decoration: underline;
}

.building {
  display     : block;
  margin-right: 0px;
  font-size   : 14px;
}

.fullWidth {
  display     : block;
  margin-left : 0px;
  margin-right: 0px;
  z-index     : 10;
}

#game .fullWidth {
  height    : auto;
  min-height: auto;
}

.fullWidth,
.fullWidth:hover {
  background: rgba($black-col, 0.75);
  box-shadow: none;
  color     : $white-col;
}

.fullWidth:before,
.fullWidth:after {
  content   : '';
  height    : 1px;
  background: rgba($white-col, 0.75);
  position  : absolute;
  left      : 0px;
  right     : 0px;
  z-index   : -1;
}

.fullWidth:before {
  top: -1px;
}

.fullWidth:after {
  bottom: -1px;
}

.fullWidth .thing-icon {
  margin-top   : -10px;
  margin-bottom: -10px;
}

.fullWidth .thing-text {
  margin-top   : -4px;
  margin-bottom: -4px;
}

.listing {
  font-weight: normal;
}

#game.filtersOn .thing-icon {
  filter: drop-shadow(3px 3px 1px rgba($black-col, 0.5));
}

b {
  font-weight: $font-weight-bolder;
}

q {
  font-style: italic;
  color     : $text-muted;
}