@import "root";

.box:not(#box-buttons) {
  background-color: $card-bg;

  &#box-main {
    background-color: rgba($card-bg, .5);

    .box-things {
      background-color: rgba(aqua, .25);
    }
  }
}